<p id="notice"><%= notice %></p>

<h1>Listing First Levels</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Chart of account</th>
      <th>Balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @first_levels.each do |first_level| %>
      <tr>
        <td><%= first_level.code %></td>
        <td><%= first_level.name %></td>
        <td><%= first_level.description %></td>
        <td><%= first_level.chart_of_account %></td>
        <td><%= first_level.balance %></td>
        <td><%= link_to 'Show', first_level %></td>
        <td><%= link_to 'Edit', edit_first_level_path(first_level) %></td>
        <td><%= link_to 'Destroy', first_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New First level', new_first_level_path %>
