<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @first_level.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @first_level.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @first_level.description %>
</p>

<p>
  <strong>Chart of account:</strong>
  <%= @first_level.chart_of_account %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @first_level.balance %>
</p>

<%= link_to 'Edit', edit_first_level_path(@first_level) %> |
<%= link_to 'Back', first_levels_path %>
