

<%= form_for(@synthetic_account) do |f| %>
  <% if @synthetic_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@synthetic_account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @synthetic_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      
      <div class="row">
      <div class="col-md-2">

      <div class="input-group">
        <span class="input-group-addon " id="basic-addon1"><i class="fa fa-tag" aria-hidden="true"></i></span>
       <%= f.number_field :code, class:"form-control", describedby: "basic-addon1", placeholder: "Insira o número da conta"%>
      </div>
      </div>
      </div>
      <br>

      <div class="row">
      <div class="col-md-4">

      <div class="input-group">
        <span class="input-group-addon " id="basic-addon2"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
       <%= f.text_field :name, class:"form-control", describedby: "basic-addon2", placeholder: "Insira o nome da conta"%>
      </div>
      </div>
      </div>
      </br>
      <div class="row">
      <div class="col-md-4">

      <div class="input-group">
        
      <label for="account_type_id">
      Click na caixa de seleção abaixo para selecionar a Conta ao qual pertence<br>
      <%= f.collection_select :account_id, Account.all, :id, :name, {default: Account.take}, {class:"form-control", include_blank: false} %>
   
      </label>
      </div>
      </div>
      </div>
      <br>

  <div class="actions">
  <div class="col-md-4">
    <%= f.submit "Criar conta", class: "btn btn-primary" %>
    <%= link_to 'Voltar', wizard_index_path, class: "btn btn-danger btn-sm pull-right" %>
  </div>
  </div>
<% end %>
