<div class="container">
  <div  class="row">
   

    <h1>Listing Synthetic Account</h1>

    <table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Balance</th>
      <th>Conta Pai</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @synthetic_accounts.each do |synthetic_account| %>
      <tr>
        <td><%= synthetic_account.account.account_type.code %>.<%= synthetic_account.account.code %>.<%= synthetic_account.code %></td>
        <td><%= synthetic_account.name %></td>
        <td><%= synthetic_account.description %></td>
        <td><%= synthetic_account.balance %></td>
        <td><%= synthetic_account.account.name %></td>
        <td><%= link_to 'Show', synthetic_account, class: "btn-primary btn-sm" %>
        <%= link_to 'Edit', edit_synthetic_account_path(synthetic_account), class: "btn-primary btn-sm" %>
        <%= link_to 'Destroy', synthetic_account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Synthetic account', new_synthetic_account_path, class: "btn btn-primary" %>
