<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @synthetic_account.account.account_type.code %>.<td><%= @synthetic_account.account.code %>.</td><td><%= @synthetic_account.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @synthetic_account.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @synthetic_account.description %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @synthetic_account.balance %>
</p>

<p>
  <strong>Account:</strong>
  <%= @synthetic_account.account.name %>
</p>

<%= link_to 'Edit', edit_synthetic_account_path(@synthetic_account) %> |
<%= link_to 'Back', synthetic_accounts_path %>
