<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @third_level.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @third_level.name %>
</p>

<p>
  <strong>Second level:</strong>
  <%= @third_level.second_level %>
</p>

<%= link_to 'Edit', edit_third_level_path(@third_level) %> |
<%= link_to 'Back', third_levels_path %>
