<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @subelement.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subelement.name %>
</p>

<%= link_to 'Edit', edit_subelement_path(@subelement) %> |
<%= link_to 'Back', subelements_path %>
