<%= form_for(@fourth_level) do |f| %>
  <% if @fourth_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fourth_level.errors.count, "error") %> prohibited this fourth_level from being saved:</h2>

      <ul>
      <% @fourth_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :analytic %><br>
    <%= f.check_box :analytic %>
  </div>
  <div class="field">
    <%= f.label :balance_id %><br>
    <%= f.text_field :balance_id %>
  </div>
  <div class="field">
    <%= f.label :third_level_id %><br>
    <%= f.text_field :third_level_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
