<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @fourth_level.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fourth_level.name %>
</p>

<p>
  <strong>Analytic:</strong>
  <%= @fourth_level.analytic %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @fourth_level.balance %>
</p>

<p>
  <strong>Third level:</strong>
  <%= @fourth_level.third_level %>
</p>

<%= link_to 'Edit', edit_fourth_level_path(@fourth_level) %> |
<%= link_to 'Back', fourth_levels_path %>
