<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @second_level.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @second_level.name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @second_level.balance %>
</p>

<%= link_to 'Edit', edit_second_level_path(@second_level) %> |
<%= link_to 'Back', second_levels_path %>
