<!doctype html>
<html>
 <head>
   <meta charset='utf-8' />
   <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
   <%= wicked_pdf_javascript_include_tag "number_pages" %>
   <%= stylesheet_link_tag "pdf.scss" %>
 </head>

 <body onload='number_pages'>
 
<div class="container-fluid">
   <h1 class="page-header text-center"><strong><%= Company.last.name %></strong>
   <p class="page-header text-center" > CNPJ: <%= Company.last.cnpj%></p>
   <p class="page-header text-center" ><%= Company.last.address%></p>
   <p class="page-header text-center" >CEP:<%= Company.last.cep%></p>
</h1>
 <div class="row">
   <div class="panel panel-default">
     <table class="table table-bordered2">
     <thead>

       <tr>
     <th><div class="panel-heading text-center"><strong>Livro Razão</strong></div></th>
   </tr>

     <table class="table1">        <!-- MOSTRAR TODAS AS CONTAS PAI  -->
       <p class = "page-header text-right font-size"><strong> Conta contabil:
         <%= @analytic_account.second_synthetic_account.synthetic_account.account.account_type.code %>.
         <%= @analytic_account.second_synthetic_account.synthetic_account.account.code %>
         .<%= @analytic_account.second_synthetic_account.synthetic_account.code %>
         .<%= @analytic_account.second_synthetic_account.code %>
         .<%= @analytic_account.code %></strong> <span style ="padding-left:100px"><%= @analytic_account.name %></span></p>
     <thead>
         <tr class="linha">
           <th class="borda">Data</th>
           <th class="borda">Contrapartida</th>
           <th class="borda">Histórico</th>
           <th class="borda">Número da Operação</th>
           <th class="borda">Débito</th>
           <th class="borda">Crédito</th>
           <th class="borda">Saldo</th>
         </tr>

       </thead>
       <br>
         <br>
       <% @operations.sort_by{|task| task.id}.each do |op| %>
       <tbody >
           <tr>
           <td class="borda1"><%= op.release_date.strftime("%d/%m/%Y") %></td>
         <!--   -->
           <% if op.release_account.eql?(@analytic_account)%>
           <!-- codigo da contra partida-->
           <td class="borda1"><%= op.retrieve_account.second_synthetic_account.synthetic_account.account.account_type.code %>.
           <%= op.retrieve_account.second_synthetic_account.synthetic_account.account.code %>
           .<%= op.retrieve_account.second_synthetic_account.synthetic_account.code %>
           .<%= op.retrieve_account.second_synthetic_account.code %>
           .<%= op.retrieve_account.code %></td>
           <% else %>
           <!-- codigo da contra partida-->
           <td class="borda1"><%= op.release_account.second_synthetic_account.synthetic_account.account.account_type.code %>.
            <%= op.release_account.second_synthetic_account.synthetic_account.account.code %>
           .<%= op.release_account.second_synthetic_account.synthetic_account.code %>
           .<%= op.release_account.second_synthetic_account.code %>
           .<%= op.release_account.code %></td>
           <% end %>
           <td class="borda1"><%= op.description %></td>
           <td class="borda1"><%= op.id %></td>
           <td class="borda1"><%= number_to_currency(op.value, unit: "R$", separator: ",", delimiter: ".") if op.retrieve_account.eql?(@analytic_account) %></td>
           <td class="borda1"><%= number_to_currency(op.value, unit: "R$", separator: ",", delimiter: ".") if op.release_account.eql?(@analytic_account) %></td>
           <td class="borda1"><%=number_to_currency(OldBalance.find_by(operation: op,
            analytic_account: @analytic_account).value, unit: "R$", separator: ",", delimiter: ".") if OldBalance.find_by(operation: op,
            analytic_account: @analytic_account) %></td>

         </tr>
         </tbody>
       <% end %>
         </table>
         <strong class="total">Total:<%= number_to_currency(balance = @analytic_account.balance, unit: "R$", separator: ",", delimiter:".")%></strong>
   </div>
 </div>
</div>
</div>
</body>
</html>
