
<div class="container-fluid">
  <h1 class="page-header"><strong>Livro Razão <%= @analytic_account.name %></strong></h1>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading text-center"><strong><%= Company.last.name %></strong></div>
      <table class="table ">
        <thead>
          <tr>
            <th>Data</th>
            <th>Número da Operação</th>
            
            <th>Contrapartida</th>
            <th>Histórico</th>
            <th>Débito</th>
            <th>Crédito</th>
            <th>Saldo</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <% @operations.sort_by{|task| task.id}.each do |op| %>
        <tbody>

          <tr>
            <td><%= op.release_date %></td>
            <td><%= op.id %></td>
            <% if op.release_account.eql?(@analytic_account)%>
            
            <td><%= op.retrieve_account.name %></td>
            <% else %>
            
            <td><%= op.release_account.name %></td>
            <% end %>
            <td><%= op.description %></td>
            <td><%= op.value if op.retrieve_account.eql?(@analytic_account) %></td>
            <td><%= op.value if op.release_account.eql?(@analytic_account) %></td>
            <td><%= OldBalance.find_by(operation: op,
             analytic_account: @analytic_account).value %></td>

    
          </tr>
                  
        </tbody>
        <% end %>
        <tr><tr><tr><tr><tr><tr><td><td><td><td><td><td><strong>Total: </strong><td>
        <strong><%= @analytic_account.balance%></strong></td></tr>
          </table>  
      
    </div>

  </div>

</div>



<%= link_to 'Gerar relatório', analytic_ledger_path(@analytic_account, format: 'pdf'), class: "btn btn-primary" %>