<%= form_for(@account_type) do |f| %>
  <% if @account_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_type.errors.count, "error") %> prohibited this account_type from being saved:</h2>

      <ul>
      <% @account_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      
      <div class="row">
      <div class="col-md-4">

      <div class="input-group">
        <span class="input-group-addon " id="basic-addon1"><i class="fa fa-tag" aria-hidden="true"></i></span>
       <%= f.text_field :code, class:"form-control", describedby: "basic-addon1", placeholder: "Insira o número da conta", id: "code"%>
      </div>
      </div>
      </div>
      <br>

      <div class="row">
      <div class="col-md-4">

      <div class="input-group">
        <span class="input-group-addon " id="basic-addon2"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
       <%= f.text_field :name, class:"form-control", describedby: "basic-addon2", placeholder: "Insira o nome da conta"%>
      </div>
      </div>
      </div>
      </br>
      <div class="row">
      <div class="col-md-4">

      <div class="input-group">
        
      <label for="chart_of_account_id">
      Click na caixa de seleção abaixo para selecionar um Plano de Contas<br>

      <%= f.collection_select :chart_of_account_id, ChartOfAccount.all, :id, :title,{}, {id: "e1",class:"form-control parent_account"} %>
      </label>
      </div>
      </div>
      </div>
      <br>

  <div class="actions">
  <div class="col-md-4">
    <%= f.submit "Criar conta", class: "btn btn-primary" %>
    <%= link_to 'Voltar', wizard_index_path, class: "btn btn-danger btn-sm pull-right" %>
  </div>
  </div>
<% end %>
