<p id="notice"><%= notice %></p>

<h1>Listing Subitems</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subitems.each do |subitem| %>
      <tr>
        <td><%= subitem.code %></td>
        <td><%= subitem.name %></td>
        <td><%= link_to 'Show', subitem %></td>
        <td><%= link_to 'Edit', edit_subitem_path(subitem) %></td>
        <td><%= link_to 'Destroy', subitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subitem', new_subitem_path %>
