<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @subitem.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subitem.name %>
</p>

<%= link_to 'Edit', edit_subitem_path(@subitem) %> |
<%= link_to 'Back', subitems_path %>
