
<p class="lead">Faça o login para continuar a utilizar o Luzeiro Finanças</p>
<%=  form_for(:user, :url => session_path(:user)) do |f| %>


<fieldset>
  <%= f.text_field :login, autofocus: true, class: "form-control input-lg", placeholder: "Nome de Usuário ou Email" %>
  
  <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Senha" %>

  <div class="checkbox">
    <label>
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <t>Lembre-me</t>
      </div>
      <% end -%>
    </label>
  </div>
  <%= f.submit "Entrar", class: "btn btn-lg btn-success btn-block", method: :post%>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Esqueceu sua senha?", forget_password_path %><br />
  <% end -%>

</fieldset>
<% end %>