<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<fieldset>
  

    <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "E-mail"  %>
  

  <div class="actions">
    <%= f.submit "Envie-me instruções por email", class: "btn btn-lg btn-success btn-block" %>
  </div>
  </fieldset>
<% end %>

<%= link_to "Login", visitors_path %>
