 <!doctype html>
 <html>
  <head>
    <meta charset='utf-8' />
    
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>
  <body onload='welcome'>
    <div id="header">
      <%= wicked_pdf_image_tag 'mysite.jpg' %>
    </div>
    <div id="content">
      <div class="container-fluid">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6 center">
           <h3><strong>Razão Analítico Financeiro</strong></h3>
          </div>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Saldo</th>
            <th></th>
          
          </tr>
        </thead>

        <tbody>
         <p id="notice"><%= notice %></p>
          <% @analytic_accounts.each do |analytic_account| %>
          <tr>
            <td><%=  analytic_account.second_synthetic_account.synthetic_account.account.account_type.code %>.<%= analytic_account.second_synthetic_account.synthetic_account.account.code %>.<%= analytic_account.second_synthetic_account.synthetic_account.code %>.<%= analytic_account.second_synthetic_account.code %>.<%= analytic_account.code %></td>
            <td>
              <%=  analytic_account.second_synthetic_account.synthetic_account.account.account_type.name %>

              <%=  analytic_account.second_synthetic_account.synthetic_account.account.name.downcase%>

              <%=  analytic_account.second_synthetic_account.synthetic_account.name.downcase%>

              <%=  analytic_account.second_synthetic_account.name.downcase%>

              <%=  analytic_account.name.downcase%>
            <td><%= analytic_account.balance %></td>
            
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


    </div>
  </body>
</html>
