<h1>Dashboard</h1>

<div class="col-lg-3 col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3">
					<i class="glyphicon glyphicon-indent-right"></i>
				</div>
				<div class="col-xs-9 text-right">
					<div class="huge">Empresas</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg-3 col-md-6">
	<div class="panel panel-yellow">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3">
					<i class="glyphicon glyphicon-indent-right"></i>
				</div>
				<div class="col-xs-9 text-right">
					<div class="huge">Empresas</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br><br><br><br><br>

<% if user_signed_in? %>
	<ul>
		<li> <%= current_user.email %> </li>
		<li> <%= link_to "Sair", destroy_user_session_path, method: :delete %> </li>
	</ul>
<% else %>
	<ul>
		<li> <%= link_to "Cadastrar novo usuário", new_user_registration_path %> </li>
		<li> <%= link_to "Logar", new_user_session_path %> </li>
	</ul>
<% end %>

<ul>
	<li> <%= link_to "Empresas", enterprises_path %> </li>
	<li> <%= link_to "Contas", accounts_path %> </li>
</ul>