<div class="container-fluid">

	<h1 class="page-header"><strong>Dashboard</strong></h1>
	<div class="row">
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<%= icon('suitcase', class: 'strong aumentaicon')%>
						</div>
						<div class="col-xs-9 text-right">
							<%= link_to "Empresas", enterprises_path, :class => "huge" %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6">
			<div class="panel panel-yellow">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<%= icon('archive', class: 'strong aumentaicon')%>
						</div>
						<div class="col-xs-9 text-right">
							<%= link_to "Contas", accounts_path, :class => "huge"%>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-lg-3 col-md-6">
			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<%= icon('users', class: 'strong aumentaicon')%>
						</div>
						<div class="col-xs-9 text-right">
							<%= link_to "Grupos", groups_path, :class => "huge"%>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6">
			<div class="panel panel-red">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<%= icon('money', class: 'strong aumentaicon')%>
						</div>
						<div class="col-xs-9 text-right">
							<%= link_to "Operações", groups_path, :class => "huge"%>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


		<div class="row centralizado">
			<div class="col-md-12">
				<div class="btn btn-default btn-lg">Ver Saldo em Caixa</div>
				<div class="btn btn-default btn-lg">Gerar Relatório</div>
				<div class="btn btn-default btn-lg">Cadastrar Empresa</div>
				<div class="btn btn-default btn-lg">Cadastrar Operação</div>
				<div class="btn btn-default btn-lg">Cadastrar Conta</div>
				<div class="btn btn-default btn-lg">Calculadora</div>
			</div>
		</div>



	<!-- <br><br><br><br><br>

	<% if user_signed_in? %>
	<ul>
		<li> <%= current_user.email %> </li>
		<li> <%= link_to "Sair", destroy_user_session_path, method: :delete %> </li>
	</ul>
	<% else %>
	<ul>
		<li> <%= link_to "Cadastrar novo usuário", new_user_registration_path %> </li>
		<li> <%= link_to "Logar", new_user_session_path %> </li>
	</ul>
	 -->

	<% end %>
</div>
