
  <%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

    <ul>
      <% @result.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>  

  <%= render 'result_accounts' %>


  <% if @debit_accounts.nil? or @credit_accounts.nil? %>

  <div class="col-md-12 "><h3> REALIZE A BUSCA PARA EXIBIR OS RESULTADOS DISPONÍVEIS </h3></div>
  <% elsif @debit_accounts.empty? or @credit_accounts.empty? %>
  <div class="col-md-12 "> <h4> Não foram econtrados resultados neste período, por favor verifique se as informações estão corretas. </h4></div>
  <% else %>
  <div class="field">
    <%= f.label "Descrição" %><br>
    <%= f.text_area :description, placeholder: "Deixe aqui uma breve descrição do resultado" %>
  </div>
  <%= f.hidden_field(:init, value: params[:date_init]) %>
  <%= f.hidden_field(:final, value: params[:date_final]) %>

  <div class="actions">
    <%= f.submit "Lançar",data: { confirm: 'Você tem certeza que deseja lançar este resultado? Todas as contas selecionadas serão zeradas.' }, class: "btn btn-success" %>
    <br>
    <br>

  </div>


  <% end %>
  <%= link_to "Selecionar novo período", result_search_path, class: "btn btn-default"%>

  <% end %>