<div class="container-fluid">
<div class="row">

 <div class="col-md-12"><h1 class="page-header text-center"><strong>Livro Razão Resultado</strong></h1></div>
 <% if @init_date and @final_date %>
 <div class="col-md-12"><strong>Período: </strong><%= @init_date.strftime("%d/%m/%Y") %> à <%= @final_date.strftime("%d/%m/%Y") %></div>

 </div>
 <% end %>
 <% if @credit_accounts %>
<% @credit_accounts.sort_by{|a| a.id}.reverse.each  do |anal| %>

  <div class="row">

    <div class="panel panel-default">
     <div class="row">
      <div class="col-md-6">
        <strong>Conta Contábil: <%= anal.second_synthetic_account.synthetic_account.account.account_type.code %>.<%= anal.second_synthetic_account.synthetic_account.account.code %>.<%= anal.second_synthetic_account.synthetic_account.code %>.<%= anal.second_synthetic_account.code %>.<%= anal.code %></strong>
      </div>
      <div class="col-md-6">
        <strong><%= anal.name %></strong>
      </div>
      </div>
      <table class="table ">
        <thead>
          <tr>
            
            <th>Data</th>
            <th>Número da Operação</th>
            
            <th>Contrapartida</th>
            <th>Histórico</th>
            <th>Débito</th>
            <th>Crédito</th>
            <th>Saldo</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
        <%anal.credits.sort_by{|op| op.release_date }.each do |op|  %>
        <tbody>

          <tr>

            <td><%= op.release_date.strftime("%d/%m/%Y") %></td>
            <td><%= op.id %></td>
            <% if op.release_account.eql?(anal)%>
            
            <td><%= op.retrieve_account.name %></td>
            <% else %>
            
            <td><%= op.release_account.name %></td>
            <% end %>
            <td><%= op.description %></td>
            <td><%= number_to_currency(op.value, unit: "R$", separator: ",", delimiter: ".") if op.retrieve_account.eql?(anal) %></td>
            <td><%= number_to_currency(op.value, unit: "R$", separator: ",", delimiter: ".") if op.release_account.eql?(anal) %></td>
            
            <td><%= anal.old_balance(op).value unless anal.nil?   %></td>

    
          </tr>
                  
        </tbody>
        <% end %>

          <tr><tr><tr><tr><tr><tr><td><td><td><td><td><td><strong>Total: </strong><td>
          <strong><%=number_to_currency(anal.balance, unit: "R$", separator: ",", delimiter: ".") %></strong></td></tr>
        </table> 
    </div>
  </div> 
<% end %>
<% end %>


<% if @debit_accounts %>
<% @debit_accounts.sort_by{|a| a.id}.reverse.each  do |anal| %>

  <div class="row">
    <div class="panel panel-default">
     <div class="row">
      <div class="col-md-6">
        <strong>Conta Contábil: <%= anal.second_synthetic_account.synthetic_account.account.account_type.code %>.<%= anal.second_synthetic_account.synthetic_account.account.code %>.<%= anal.second_synthetic_account.synthetic_account.code %>.<%= anal.second_synthetic_account.code %>.<%= anal.code %></strong>
      </div>
      <div class="col-md-6">
        <strong><%= anal.name %></strong>
      </div>
      </div>
      <table class="table ">
        <thead>
          <tr>
            
            <th>Data</th>
            <th>Número da Operação</th>
            
            <th>Contrapartida</th>
            <th>Histórico</th>
            <th>Débito</th>
            <th>Crédito</th>
            <th>Saldo</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
        

         <%anal.debits.sort_by{|op| op.release_date }.each do |op|  %>
        <tbody>

          <tr>

            <td><%= op.release_date.strftime("%d/%m/%Y") %></td>
            <td><%= op.id %></td>
            <% if op.release_account.eql?(anal)%>
            
            <td><%= op.retrieve_account.name %></td>
            <% else %>
            
            <td><%= op.release_account.name %></td>
            <% end %>
            <td><%= op.description %></td>
            <td><%= number_to_currency(op.value, unit: "R$", separator: ",", delimiter: ".") if op.retrieve_account.eql?(anal) %></td>
            <td><%= number_to_currency(op.value, unit: "R$", separator: ",", delimiter: ".") if op.release_account.eql?(anal) %></td>
            <td><%= anal.old_balance(op).value unless anal.nil?   %></td>

      
          </tr>
                  
        </tbody>
        <% end %>
        

          
          <tr><tr><tr><tr><tr><tr><td><td><td><td><td><td><strong>Total: </strong><td>
          <strong><%=number_to_currency(anal.balance, unit: "R$", separator: ",", delimiter: ".")  %></strong></td></tr>
        </table> 
     

    </div>
    
 

  </div>
        <% end %>
  <table class="table">
    <thead>
      <tr>
     

        <th class="pull-right"> Crédito: <%= number_to_currency(@credit_value, unit: "R$", separator: ",", delimiter: ".") %></th>  
        <th class="pull-right"> Debito: <%=number_to_currency(@debit_value, unit: "R$", separator: ",", delimiter: ".")  %></th>
      </tr>
    </thead>
    
  </table>
  <% end %>
  



<% if @debit_accounts.nil? and @credit_accounts.nil? %>

  <div class="col-md-12 "><h3> REALIZE A BUSCA PARA EXIBIR OS RESULTADOS DISPONÍVEIS </h3></div>
<% elsif @debit_accounts.empty? and @credit_accounts.empty? %>
    <div class="col-md-12 "> <h4> Não foram econtrados resultados neste período, por favor verifique se as informações estão corretas. </h4></div>
    
<% elsif !@debit_accounts.empty? and !@credit_accounts.empty? %>
     <%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= f.label "Descrição" %><br>
    <%= f.text_area :description, placeholder: "Deixe aqui uma breve descrição do resultado" %>
  </div>

 

  
  <div class="actions">
  <%= f.submit "Enviar", class: "btn btn-success" %>
  <br>
  <br>
 
  </div>

  <% end %>
  <% end %>
 <%= button_to "Selecionar novo período", result_search_path, class: "btn btn-default", method: :get %>

</div>