




<div class="btn-toolbar">
    <%= link_to 'Novo Resultado', result_search_path, class: "btn btn-primary" %>
    <button class="btn btn-default">Imprimir Relatório</button>

</div>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Natureza</th>
          <th>Saldo</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.id %></td>
          <td><%= result.name %></td>
          <td><%= result.kind %></td>
          <td><%= result.balance %></td>
          <td>
            <%= link_to 'Detalhes', result_path(result), class: "btn btn-primary" %>  
          </td>
          <td>                         
            <%= link_to result, method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <i class="icon-remove">
                <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
<!-- <div class="pagination">
    <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div> -->
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text">Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>