<div class="container-fluid">
<p id="notice"><%= alert %></p>
 <div class="col-md-4 ">Insira o período<%= form_tag(result_search_path, :method => "get", id: "date_search", class: "input-daterange ") do %>

    <%= text_field_tag :date_init, params[:date_init], placeholder: "Periodo inicial",  class: "input-sm"%>
    <%= text_field_tag :date_final, params[:date_final], placeholder: "Periodo final",  class: "input-sm"%>

    <%= submit_tag "Search", :created_at => nil %>
  

  <% end %></div>
  </div>

