<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @result.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @result.description %>
</p>


<p>
  <strong>Saldo:</strong>
  <%= @result.balance %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
