<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @seventh_level.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @seventh_level.name %>
</p>

<p>
  <strong>Analytic:</strong>
  <%= @seventh_level.analytic %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @seventh_level.balance %>
</p>

<p>
  <strong>Sixth level:</strong>
  <%= @seventh_level.sixth_level %>
</p>

<%= link_to 'Edit', edit_seventh_level_path(@seventh_level) %> |
<%= link_to 'Back', seventh_levels_path %>
