<div class="container-fluid">
  <div class="col-md-12">
    
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <%= icon('dashboard', class: 'strong aumentaicon')%>Dashboard
          </div>
          
            
          <div class="col-xs-5 text-right">
            <%= link_to "Livro razão", "#", :class => "huge" %>
          </div>
        </div>
      </div>
          <%= form_tag ledger_path, :method => "get", class: "form-search" do %>
            <%= text_field_tag :name, params[:name], class:" search",placeholder: "Buscar" %>
            <%= button_tag(type: "submit") do %>
            <span class="fa fa-search"></span>
             <% end %>
            <% end %>
            
      <table class="table">
        <thead>
          <tr>
          	<th>Código</th>
	       <th>Nome</th>
	       <th>Saldo</th>
	       <th>  </th>
          </tr>
        </thead>
        <tbody>
        
          <% @analytic_accounts.each do |analytic_account| %>
	     <tr>
	       <td><%= analytic_account.second_synthetic_account.synthetic_account.account.account_type.code %>.<%= analytic_account.second_synthetic_account.synthetic_account.account.code %>.<%= analytic_account.second_synthetic_account.synthetic_account.code %>.<%= analytic_account.second_synthetic_account.code %>.<%= analytic_account.code %>
	       </td>
	       <td>
        	    <%= button_to analytic_account.second_synthetic_account.synthetic_account.account.account_type.name, account_type_path(analytic_account.second_synthetic_account.synthetic_account.account.account_type), class: "btn btn-primary icon-btn btn-xs",method: :get%>
        	    <%= button_to analytic_account.second_synthetic_account.synthetic_account.account.name.downcase, account_path(analytic_account.second_synthetic_account.synthetic_account.account), class: "btn btn-primary icon-btn btn-xs",method: :get%>
        	    <%= button_to analytic_account.second_synthetic_account.synthetic_account.name.downcase, synthetic_account_path(analytic_account.second_synthetic_account.synthetic_account), class: "btn btn-primary icon-btn btn-xs",method: :get%>
        	    <%= button_to analytic_account.second_synthetic_account.name.downcase, second_synthetic_account_path(analytic_account.second_synthetic_account), class: "btn btn-primary icon-btn btn-xs",method: :get%>
        	    <%= button_to analytic_account.name.downcase, analytic_account_path(analytic_account), class: "btn btn-primary icon-btn btn-xs",method: :get%>
      	       </td>
      	       <td><%= number_to_currency(analytic_account.balance, unit: "R$", separator: ",", delimiter: ".")%></td>
      	       <td><%= link_to 'Ver Livro Razão', analytic_ledger_path(analytic_account), class: "btn btn-success btn-sm" %></td>
	     </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-12"><%= @operations_all %></div>
  </div>
</div>
