<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @sixth_level.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sixth_level.name %>
</p>

<p>
  <strong>Analytic:</strong>
  <%= @sixth_level.analytic %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @sixth_level.balance %>
</p>

<p>
  <strong>Fifth level:</strong>
  <%= @sixth_level.fifth_level %>
</p>

<%= link_to 'Edit', edit_sixth_level_path(@sixth_level) %> |
<%= link_to 'Back', sixth_levels_path %>
