<%= form_for(@enterprise) do |f| %>
<div class="container-fluid">

  <% if @enterprise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enterprise.errors.count, "error") %> prohibited this enterprise from being saved:</h2>

      <ul>
      <% @enterprise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">

    <div class="col-md-3">
      <p>
        <h3>Empresa:</h3>
      </p>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :cnpj %><br>
        <%= f.text_field :cnpj %>
      </div>
      <div class="field">
        <%= f.label :field_of_work %><br>
        <%= f.text_field :field_of_work %>
      </div>
    </div>
    <div class="col-md-3">
      <p>
        <h3>Plano de contas:</h3>
      </p>

      <%= f.fields_for :chart_of_account do |chart_of_account_fields| %>
        <%= chart_of_account_fields.label :title %>
        <%= chart_of_account_fields.text_field :title %>
      <% end %>
      </div>
    </div>

      <div class="actions">
      <br>
        <%= f.submit %>
      </div>
<% end %>
</div>