<p id="notice"><%= notice %></p>

<h1>Listing Fifth Levels</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Analytic</th>
      <th>Balance</th>
      <th>Fourth level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fifth_levels.each do |fifth_level| %>
      <tr>
        <td><%= fifth_level.code %></td>
        <td><%= fifth_level.name %></td>
        <td><%= fifth_level.analytic %></td>
        <td><%= fifth_level.balance %></td>
        <td><%= fifth_level.fourth_level %></td>
        <td><%= link_to 'Show', fifth_level %></td>
        <td><%= link_to 'Edit', edit_fifth_level_path(fifth_level) %></td>
        <td><%= link_to 'Destroy', fifth_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fifth level', new_fifth_level_path %>
