<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @fifth_level.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fifth_level.name %>
</p>

<p>
  <strong>Analytic:</strong>
  <%= @fifth_level.analytic %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @fifth_level.balance %>
</p>

<p>
  <strong>Fourth level:</strong>
  <%= @fifth_level.fourth_level %>
</p>

<%= link_to 'Edit', edit_fifth_level_path(@fifth_level) %> |
<%= link_to 'Back', fifth_levels_path %>
