<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :nature_of_the %><br>
    <%= f.text_field :nature_of_the %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :credit_balance %><br>
    <%= f.text_field :credit_balance %>
  </div>
  <div class="field">
    <%= f.label :debit_balance %><br>
    <%= f.text_field :debit_balance %>
  </div>

  <div class="field">
    <%= f.label :chart_of_account_id %><br>
    <%= f.collection_select(:chart_of_account_id, ChartOfAccount.all, :id, :title)%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
