<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">Contas</div>
  <table class="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Nature of the balance</th>
        <th>Credit balance</th>
        <th>Debit balance</th>
        <th>Plano de Contas</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.code %></td>
          <td><%= account.name %></td>
          <td><%= account.description %></td>
          <td><%= account.nature_of_the_balance %></td>

          <td><%= account.credit_balance %></td>
          <td><%= account.debit_balance %></td>

          <!-- PEGANDO RELACIONAMENTO DO PLANO DE CONTAS -->
          <td><%= account.chart_of_account.title %></td>


          <td><%= link_to 'Show', account, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_account_path(account), class: "btn btn-primary" %>
          <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Account', new_account_path, class: "btn btn-primary" %>
