<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @account.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<p>
  <strong>Nature of the:</strong>
  <%= @account.nature_of_the %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Credit balance:</strong>
  <%= @account.credit_balance %>
</p>

<p>
  <strong>Debit balance:</strong>
  <%= @account.debit_balance %>
</p>

<p>
  <strong>chart od account:</strong>
  <%= @account.chart_of_account_id %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
