<%= form_for(@operation) do |f| %>
<% if @operation.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

  <ul>
    <% @operation.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<br>
<br>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <%= f.label :value, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :value, class: "form-control", placeholder: "Digite o valor da operação" %>
    </div>
  </div>

  <br><br>

  <div class="form-group">
    <%= f.label :retrieve_account_id, "Para onde vai", class: "control-label col-sm-2" %><br>
    <div class="col-sm-10">
      <%= f.collection_select :retrieve_account_id, AnalyticAccount.all, :id, :name , {}, {class: "simple-test"} %>
    </div>
  </div>

  <br><br>

  <div class="form-group">
    <%=  f.label :release_account_id, "De onde vem", class: "control-label col-sm-2" %><br>
    <div class="col-sm-10">
      <%= f.collection_select :release_account_id, AnalyticAccount.all, :id, :name , {}, {class: "simple-test"} %>
    </div>
  </div>

  <br><br>

  <div class="form-group">
    <%= f.label :description, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control", placeholder: "Digite a descrição da operação" %>
    </div>
  </div>

  <br><br>

  <div class="form-group">
    <%= f.label :release_date, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.date_select :release_date, class: "form-control", placeholder: "Digite a descrição da operação" %>
    </div>
  </div>

  <br><br>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-default" %>
    </div>
  </div>
</form>

<% end %>
