<div class="container">
  <div  class="row">
    <p id="notice"><%= notice %></p>

    <h1>Histórico de Operações</h1>

    <table class="table">

  <thead>
    <tr>
            <th>Data</th>
            <th>Numero da Operação</th>
            <th>Conta a Débito </th>
            <th>Conta a Crédito</th>
            <th>Histórico</th>
            
      <th colspan="3"></th>
    </tr>
  </thead>
    <% @operations.each do |operation| %>
     <tbody>
      <tr>
        <td><%= operation.release_date %></td>
        <td><%= operation.id %></td>
        <td><%= operation.verify_account(operation.retrieve_account) %></td>
        <td><%= operation.verify_account(operation.release_account) %></td>
        <td><%= operation.value %></td>
        <td><%= operation.description %></td>   

        <td><%= link_to 'Show', operation, class: "btn-primary btn-sm" %>
        <%= link_to 'Edit', edit_operation_path(operation), class: "btn-primary btn-sm" %>
        <%= link_to 'Destroy', operation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation', new_operation_path, class: "btn btn-primary" %>
