<!DOCTYPE html>
<html>
  <br>
   <meta charset='utf-8' />
   <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
   <%= wicked_pdf_javascript_include_tag "number_pages" %>
   <%= stylesheet_link_tag "pdf.scss" %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <table class="table1">
          <thead>
            <tr class="linha">
              <th class="borda">Data</th>
              <th class="borda">Numero da Operação</th>
              <th class="borda">Conta a Débito </th>
              <th class="borda">Conta a Crédito</th>
              <th class="borda">Histórico</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <% if @operations_all %>

          <% @operations_all.each do |op| %>
          <tbody>
            <tr>
              <td class="borda1"><%= op.release_date.strftime("%d/%m/%Y") %></td>
              <td class="borda1"><%= op.id %></td>
              <td class="borda1"><%= op.retrieve_account.name %></td>
              <td class="borda1"><%= op.release_account.name %></td>
              <td class="borda1">
                <%= number_to_currency(op.value, unit: "R$", separator: ",", delimiter: ".")  %>
              </td>
            </tr>
          </tbody>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
