<div class="container-fluid">
<div class="row">
	<div class="col-md-4"><h1><strong>Livro Diário</strong></h1></div>
	<div class="col-md-4">Buscar por periodo<%= form_tag(ledger_path, :method => "get", id: "date_search") do %>
	  <%= text_field_tag :date_init, params[:date_init], placeholder: "Periodo inicial", data: {provide: "datepicker"} %>
	  <%= text_field_tag :date_final, params[:date_final], placeholder: "Periodo final", data: {provide: "datepicker"} %>
	  
	  <%= submit_tag "Search", :created_at => nil %>
	<% end %></div>
	<div class="col-md-4">Buscar por Operação
	<%= form_tag(ledger_path, :method => "get", id: "id_search") do %>
	  <%= text_field_tag :id_search, params[:id_search], placeholder: "Busca por Operação" %>
	  <%= submit_tag "Search", :name => nil %>
	<% end %>
	</div>

	

	</div>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading text-center"><strong><%= Company.last.name if Company.last %></strong></div>
			<table class="table ">
				<thead>
					<tr>
						<th>Data</th>
						<th>Numero da Operação</th>
						<th>Conta a Débito </th>
						<th>Conta a Crédito</th>
						<th>Histórico</th>

						<th colspan="3"></th>
					</tr>
				</thead>
				<% if @operations %>	
				
				<% @operations.each do |op| %>	
				<tbody>
					
					<tr>
						<td><%= op.release_date %></td>
						<td><%= op.id %></td>
						<td><%= op.retrieve_account.name %></td>
						<td><%= op.release_account.name %></td>
						<td>
						<%= op.value  %>
						</td>
						<td><%= link_to 'Edit', edit_operation_path(op), class: "btn-primary btn-sm" %></td>
						
					</tr>
				</tbody>
				<% end %>
				<% end %>

			</table>
		</div>

	</div>

</div>
