<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @operation.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @operation.description %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @operation.release_date %>
</p>

<p>
  <strong>Contas:</strong>
  <%@operation.accounts.each do |a| %>
  <%= a.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_operation_path(@operation) %> |
<%= link_to 'Back', operations_path %>
